

<footer>
  <div class="container">
    <div class="footerBloc">
      <div class="footerLink first">
        <a href="accueil.html">
          <h4>Accueil</h4>
        </a>
      </div>
      <div class="footerLink">
        <a href="metier.html">
          <h4>Notre Équipe !</h4>
        </a>
      </div>
      <div class="footerLink">
        <a href="annonce.html">
          <h4>Actualité</h4>
        </a>
      </div>
      <div class="footerLink">
        <a href="qui.html">
          <h4>Qui sommes nous ?</h4>
        </a>
      </div>
      <div class="footerLink">
        <a href="contact.html">
          <h4>Contact</h4>
        </a>
      </div>
      <div class="footerLink">
        <a href="conditions.html">
          <h4>Conditions d'utilisation</h4>
        </a>
      </div>

      <div class="socials">
        <a href="http://google.fr" class="social icon-facebook">
          <div class="icon ">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-facebook-square"></i>
          </div>
        </a>
        <a href="http://google.fr" class="social icon-twitter">
          <div class="icon ">
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </a>
        <a href="http://google.fr" class="social icon-rss">
          <div class="icon ">
            <i class="fa fa-rss"></i>
            <i class="fa fa-rss"></i>
          </div>
        </a>
        <a href="http://google.fr" class="social icon-linkedin">
          <div class="icon ">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </a>
        <a href="http://google.fr" class="social icon-skype">
          <div class="icon ">
            <i class="fab fa-skype"></i>
            <i class="fab fa-skype"></i>
          </div>
        </a>
        <a href="http://google.fr" class="social icon-envelope">
          <div class="icon ">
            <i class="fa fa-envelope"></i>
            <i class="fa fa-envelope"></i>
          </div>
        </a>
      </div>

      <div class="copyright">
        <div class="lastline">
          <span>Copyright <i class="far fa-copyright"></i>
        </div>
        <div class="lastline dev">
          </span>O.V.T.C</span>
        </div>
        <div class="lastline">
          </span>- Realisé par</span>
        </div>
        <div class="lastline dev">
          </span>IIA-E2.corp - E2D | Session 2019-2020</span>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</footer>
