body{
  margin: 0 auto;
}

footer{
  background-color: lightgrey;
  border-top: 5px solid #545454;
}

.reseau{
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.reseau div a i{
  margin: 0 15px;
  font-size: 40px;
}

.containerfoot{
  width: 700px;
  margin: 0 auto;
}

.copyright{
  padding: 30px 0;
  text-align: center;
}

.copyright div{
  display: inline-block;
  font-size: 10px;
}

.fa-youtube{
  color: rgb(255,0,0);
}

.fa-twitter{
  color: rgb(0,172,237);
}

.fa-facebook-f{
  color: rgb(66,103,178);
}

.fa-instagram{
  color: rgb(237,76,99);
}
