
    <footer>
        <div class="reseau">Suivez ON VA TOUS CREVER sur :</div>
        <div class="reseau">
          <div><a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook-f"></i></a></div>
          <div><a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter"></i></a></div>
          <div><a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a></div>
          <div><a href="https://www.youtube.com/?gl=FR&hl=fr"><i class="fab fa-youtube"></i></a></div>
        </div>
        <div class="copyright">
          <div><i class="far fa-copyright"></i> Tous droits réservés Portail OVTC - </div>
          <div class=""><a href="">Acceuil</a></div>
        </div>
    </footer>
