<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" href="/Ressources/css/header.css">

  <!-- Kit FontAwesome -->
  <script src="https://kit.fontawesome.com/e55fbb28a6.js" crossorigin="anonymous"></script>

  <!-- favio.ico -->
  <link rel="icon" href="source/favicon.ico"/>

  <!-- W3c css -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <title>Portail DEATH skills</title>
</head>

<body>
  <header>
    <h2><i>"La Mort est comme le vent toujours à mes cotés"<i></h2>
    <nav class="fill">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Qui sommes-nous ?</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">More</a></li>
        <li><a href="#">Nice staff</a></li>
      </ul>
    </nav>
  </header>




</body>

</html>
